**复习：**数据分析的第一步，加载数据我们已经学习完毕了。当数据展现在我们面前的时候，我们所要做的第一步就是认识他，今天我们要学习的就是**了解字段含义以及初步观察数据**。

## 1 第一章：数据载入及初步观察

### 1.4 知道你的数据叫什么
我们学习pandas的基础操作，那么上一节通过pandas加载之后的数据，其数据类型是什么呢？

**开始前导入numpy和pandas**

In [6]:
import numpy as np
import pandas as pd
import os

#### 1.4.1 任务一：pandas中有两个数据类型DateFrame和Series，通过查找简单了解他们。然后自己写一个关于这两个数据类型的小例子🌰[开放题]

In [29]:
#写入代码

In [ ]:
'''
#我们举的例子
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
example_1 = pd.Series(sdata)
example_1
'''

In [ ]:
'''
#我们举的例子
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
example_2 = pd.DataFrame(data)
example_2
'''

#### 1.4.2 任务二：根据上节课的方法载入"train.csv"文件

In [14]:
#写入代码
path=os.getcwd()+'\\train_chs_gbk.csv'
print(path)
data=pd.read_csv(path,encoding='gbk')

C:\Users\bobby\DATA\Git\Python\泰坦尼克号-数据分析\part1-数据载入及初步观察\train_chs_gbk.csv

也可以加载上一节课保存的"train_chinese.csv"文件。通过翻译版train_chinese.csv熟悉了这个数据集，然后我们对trian.csv来进行操作
#### 1.4.3 任务三：查看DataFrame数据的每列的名称

In [17]:
#写入代码
data.__class__
print(data.columns)
print(data.乘客ID)

Index(['乘客ID', '是否幸存', '仓位等级', '姓名', '性别', '年龄', '兄弟姐妹个数', '父母子女个数', '船票信息',
       '票价', '客舱', '登船港口'],
      dtype='object')
0        1
1        2
2        3
3        4
4        5
      ...
886    887
887    888
888    889
889    890
890    891
Name: 乘客ID, Length: 891, dtype: int64

#### 1.4.4任务四：查看"Cabin"这列的所有值[有多种方法]

In [25]:
#写入代码
print(data.客舱)
print(data['客舱'])
# print(data)
print(data["仓位等级"].__class__)
print(data.仓位等级.__class__)
print(data.head(3).info)

0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
886     NaN
887     B42
888     NaN
889    C148
890     NaN
Name: 客舱, Length: 891, dtype: object
0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
886     NaN
887     B42
888     NaN
889    C148
890     NaN
Name: 客舱, Length: 891, dtype: object
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<bound method DataFrame.info of    乘客ID  是否幸存  仓位等级                                                 姓名  \
0     1     0     3                            Braund, Mr. Owen Harris
1     2     1     1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2     3     1     3                             Heikkinen, Miss. Laina

       性别    年龄  兄弟姐妹个数  父母子女个数              船票信息       票价   客舱 登船港口
0    male  22.0       1       0         A/5 21171   7.2500  NaN    S
1  female  38.0       1       0          PC 17599  71.2833  C85    C
2  female  26.0       0       0  STON/O2. 3101282   7.9250  NaN    S  >

In [29]:
#写入代码

#### 1.4.5 任务五：加载文件"test_1.csv"，然后对比"train.csv"，看看有哪些多出的列，然后将多出的列删除
经过我们的观察发现一个测试集test_1.csv有一列是多余的，我们需要将这个多余的列删去

In [29]:
#写入代码

In [29]:
#写入代码

【思考】还有其他的删除多余的列的方式吗？

In [1]:
# 思考回答

#### 1.4.6 任务六： 将['PassengerId','Name','Age','Ticket']这几个列元素隐藏，只观察其他几个列元素

In [30]:
#写入代码
data.head(1)
data.drop(['票价'],axis=1).info

<bound method DataFrame.info of      乘客ID  是否幸存  仓位等级                                                 姓名  \
0       1     0     3                            Braund, Mr. Owen Harris
1       2     1     1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2       3     1     3                             Heikkinen, Miss. Laina
3       4     1     1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4       5     0     3                           Allen, Mr. William Henry
..    ...   ...   ...                                                ...
886   887     0     2                              Montvila, Rev. Juozas
887   888     1     1                       Graham, Miss. Margaret Edith
888   889     0     3           Johnston, Miss. Catherine Helen "Carrie"
889   890     1     1                              Behr, Mr. Karl Howell
890   891     0     3                                Dooley, Mr. Patrick

         性别    年龄  兄弟姐妹个数  父母子女个数              船票信息    客舱 登船港口
0      male  22.0       1       0         A/5 21171   NaN    S
1    female  38.0       1       0          PC 17599   C85    C
2    female  26.0       0       0  STON/O2. 3101282   NaN    S
3    female  35.0       1       0            113803  C123    S
4      male  35.0       0       0            373450   NaN    S
..      ...   ...     ...     ...               ...   ...  ...
886    male  27.0       0       0            211536   NaN    S
887  female  19.0       0       0            112053   B42    S
888  female   NaN       1       2        W./C. 6607   NaN    S
889    male  26.0       0       0            111369  C148    C
890    male  32.0       0       0            370376   NaN    Q

[891 rows x 11 columns]>

【思考】对比任务五和任务六，是不是使用了不一样的方法(函数)，如果使用一样的函数如何完成上面的不同的要求呢？

【思考回答】

如果想要完全的删除你的数据结构，使用inplace=True，因为使用inplace就将原数据覆盖了，所以这里没有用

### 1.5 筛选的逻辑

表格数据中，最重要的一个功能就是要具有可筛选的能力，选出我所需要的信息，丢弃无用的信息。

下面我们还是用实战来学习pandas这个功能。

#### 1.5.1 任务一： 我们以"Age"为筛选条件，显示年龄在10岁以下的乘客信息。

In [65]:
#写入代码
print(data.年龄.head(3))
print(data.年龄.head(3).__class__)
filter=data.年龄.head(3)<30
print(filter)
print(filter.__class__)
filter
print(pd.Series([1,2,3]))
print(pd.Series(['a3','b2','c1'],['1a','2b','3c']))
print(pd.Series([1,2,3],[4,5,6]))
print(pd.Series([4,5,6],[1,2,3]))
filter=pd.Series([False,True,False],[0,1,2],name='年龄')
print(filter)
print(data.head(3)[filter])
print(data.head(3)[data.head(3).年龄<10].head(3))

0    22.0
1    38.0
2    26.0
Name: 年龄, dtype: float64
<class 'pandas.core.series.Series'>
0     True
1    False
2     True
Name: 年龄, dtype: bool
<class 'pandas.core.series.Series'>
0    1
1    2
2    3
dtype: int64
1a    a3
2b    b2
3c    c1
dtype: object
4    1
5    2
6    3
dtype: int64
1    4
2    5
3    6
dtype: int64
0    False
1     True
2    False
Name: 年龄, dtype: bool
   乘客ID  是否幸存  仓位等级                                                 姓名  \
1     2     1     1  Cumings, Mrs. John Bradley (Florence Briggs Th...

       性别    年龄  兄弟姐妹个数  父母子女个数      船票信息       票价   客舱 登船港口
1  female  38.0       1       0  PC 17599  71.2833  C85    C
Empty DataFrame
Columns: [乘客ID, 是否幸存, 仓位等级, 姓名, 性别, 年龄, 兄弟姐妹个数, 父母子女个数, 船票信息, 票价, 客舱, 登船港口]
Index: []

#### 1.5.2 任务二： 以"Age"为条件，将年龄在10岁以上和50岁以下的乘客信息显示出来，并将这个数据命名为midage

In [72]:
#写入代码
filter_lt50=data.年龄<50
filter_gt10=data.年龄>10
filter10_50=filter_lt50&filter_gt10
print(filter10_50)
midage=data[filter10_50]
print(midage.head(3))

0       True
1       True
2       True
3       True
4       True
       ...
886     True
887     True
888    False
889     True
890     True
Name: 年龄, Length: 891, dtype: bool
   乘客ID  是否幸存  仓位等级                                                 姓名  \
0     1     0     3                            Braund, Mr. Owen Harris
1     2     1     1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2     3     1     3                             Heikkinen, Miss. Laina

       性别    年龄  兄弟姐妹个数  父母子女个数              船票信息       票价   客舱 登船港口
0    male  22.0       1       0         A/5 21171   7.2500  NaN    S
1  female  38.0       1       0          PC 17599  71.2833  C85    C
2  female  26.0       0       0  STON/O2. 3101282   7.9250  NaN    S

【提示】了解pandas的条件筛选方式以及如何使用交集和并集操作

#### 1.5.3 任务三：将midage的数据中第100行的"Pclass"和"Sex"的数据显示出来

In [29]:
#写入代码

【提示】在抽取数据中，我们希望数据的相对顺序保持不变，用什么函数可以达到这个效果呢？

#### 1.5.4 任务四：使用loc方法将midage的数据中第100，105，108行的"Pclass"，"Name"和"Sex"的数据显示出来

In [82]:
#写入代码
midage.loc[[30,40],['年龄','性别']]

      年龄      性别
30  40.0    male
40  40.0  female

#### 1.5.5 任务五：使用iloc方法将midage的数据中第100，105，108行的"Pclass"，"Name"和"Sex"的数据显示出来

In [80]:
#写入代码
midage.iloc[1,2]
midage.iloc[[2,3,4],[5,8,9]]

     年龄              船票信息      票价
2  26.0  STON/O2. 3101282   7.925
3  35.0            113803  53.100
4  35.0            373450   8.050

【思考】对比`iloc`和`loc`的异同